<h1>商品編集</h1>

<%= form_with model: @item, url: 'admin_items_path', method: :post do |f| %>

<div class="field">
    <%= f.label :image, "商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
</div>

<div class="field">
  <%= f.label :name, "商品名" %>
  <%= f.file_field :name %>
</div>

<div class="field">
  <%= f.label :text, "商品説明" %>
  <%= f.text_area :text %>
</div>

<div class="field">
  <%= f.label :genre_id, "ジャンル" %>
  <%= f.collection_select :genre_id, Genres.all, :id, :name, prompt: "--選択してください--" %>
</div>

<div class="field">
  <%= f.label :price, "税抜価格" %>
  <%= f.file_field :price %>円
</div>

<div class="field">
  <%= f.label :is_active, "販売ステータス" %>
  <%= f.select :is_active, [['販売中', true], ['販売停止', false]], prompt: "--選択してください--" %>
</div>

<%= f.submit '投稿' %>

<% end %>
