<div class = "container">
    <div class = "col-sm-10 px-sm-0 mx-auto">
      <h4 class = "mb-5 text-center">商品一覧</h4>
      
      <table class="table table-hover teble-inverse my-5 mx-auto">
        <thead class = "table-secondary">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <th><%= item.id %></th>
              <th>
                <%= link_to admin_item_path(item) do %>
                 <%= item.name %>
                <% end %>
              </th>
              <th><%= item.price %></th>
              <th><%= item.genre.name %></th>
              <th><%= item.is_active ? "販売中" : "販売停止" %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= paginate @items %>
      
      <div class = "text-center">
        <%= link_to "商品追加", {controller: 'items', action: 'new'}, {method: :get, class: "btn btn-sm btn-success add_items px-3"} %>
      </div>
    </div>
</div>