<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2><strong>管理者ログイン</strong></h2>
    </div>
  </div>
<div class="row">
    <div class="col">
<%= form_with model: [:admin, @admin], url: admin_session_path do |f| %>
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "width: 20rem;" %>
    </div>
    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", style: "width: 20rem;" %>
    </div>
    <div class="actions mt-4">
    <%= f.submit "ログイン", class: "btn btn-primary p-2" %>
  </div>
<% end %>
</div>
</div>

<%= render "admin/shared/links" %>

</div>

