
<div class="container">
  <h2>会員一覧</h2>

  <table class="table mx-auto">
    <thead>
      <tr>
      <th scope="col-sm-2">会員ID</th>
      <th scope="col-sm-2">氏名</th>
      <th scope="col-sm-2">メールアドレス</th>
      <th scope="col-sm-2">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
        <th scope="row"><%= customer.id %></th>
        <th scope="row">
          <%= link_to admin_customer_path(customer) do %>
            <%= customer.last_name %>
            <%= customer.first_name %>
          <% end %>
        </th>
        <th scope="row"><%= customer.email %></th>
        <th scope="row"><%= customer.is_deleted ? "退会" : "有効" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @customers %>


