<div class = "container">
    <div class = "col-sm-10 px-sm-0 mx-auto">
      <h4 class = "mb-5 text-center">
        <strong>
          <%= @customer.last_name %>
          <%= @customer.first_name %>
        </strong>
        さんの注文履歴一覧
      </h4>
      <table class="table table-hover teble-inverse my-5 mx-auto">
        <thead class = "table-secondary">
          <tr>
            <th>購入日時</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order) do %>
                <%= order.created_at.strftime("%Y/%m/%d %H:%M") %>
                <% end %>
              </td>
              <td>
                <%= order.order_details.sum(:amount) %>
              </td>
              <td>
                <%= order.order_status_i18n %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
</div>