
<%= @customer.customer_id %>
<span><%= @customer.last_name %></span>
<span><%= @customer.first_name %></span>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.phone_number %>
<%= @customer.email %>
<%= @customer.is_deleted %>

