<h2>配送先登録/一覧</h2>
<div class= "conteiner">
  <%= form_with model: [:public, @address] do |f| %>
    <div class="row mx-auto form-group">
      <dt class="col-sm-3"><%= f.label "郵便番号（ハイフンなし）" %></dt>
      <dd class="col-sm-4"><%= f.text_field :postal_code, class: 'form-control postal_code' %></dd>
    </div>

    <div class= "row mx-auto form-group">
      <dt class="col-sm-3"><%= f.label "住所" %></dt>
      <dd class="col-sm-6"><%= f.text_field :address, class: 'form-control address' %></dd>
    </div>

    <div class= "row mx-auto form-group">
      <dt class="col-sm-3"><%= f.label "宛名" %></dt>
      <dd class="col-sm-4"><%= f.text_field :name, class: 'form-control name' %></dd>
      <div class= "col-sm-2"><%= f.submit class: 'btn btn-success' %></div>
    </div>
    <% end %>