<h1>ショッピングカート</h1>
<%= link_to public_cart_items_destroy_all_path, method: :delete, class: "btn btn-danger btn-sm" do %>カートを空にする<% end %>
<table>
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
      <th></th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td>
            <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
            <%= f.hidden_field :amount, value: cart_item.amount %>
            <%= f.select :amount,*[1..10] %>
            <%= f.submit "変更", class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <td><%= link_to public_cart_item_path(cart_item), method: :delete, class: "btn btn-danger" do %>削除する<% end %></td>
          <!--@totalに小計をeach文で繰り返し入れていく-->
          <% @total +=  cart_item.subtotal %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to  root_path, class:"btn btn-primary btn-sm" do %>買い物を続ける<% end %>
<div>商品合計<%= @total %></div>
<%= link_to new_public_order_path(@cart_items), class: "btn btn-success btn" do %>情報入力へ進む<% end %>
