<div class="container">
  <h2>注文履歴一覧</h2>

  <table class="table mx-auto">

    <thead>
      <tr>
        <th scope="col">注文日</th>
        <th scope="col">配送先</th>
        <th scope="col">支払い金額</th>
        <th scope="col">注文ステータス</th>
        <th scope="col">注文詳細</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td>〒
        　<%= order.postal_code %>
          <%= order.shipping_address %>
          <%= order.shipping_name %>
        </td>
        <td><%= order.amount_billed %></td>
        <td><%= order.order_status_i18n %></td>
        <td><%= link_to '表示する',  public_order_path(order), class: "btn btn-sm btn-info public_order_#{order.id}" %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>

